.card{
    background-color: var(--cor-azul-escuro);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    width: 30vw;
    max-width: 250px;
    min-width: min-content;
    height: 28vh;
    min-height:  350px;
    border-radius: 11px;
    margin: 0rem 2rem;
    
}

.cardText{
    color: white;
    font-size: xx-large;
    width: 75%;
    text-align: center;
}


