.wholeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(80,160,191);
    background: linear-gradient(180deg, rgba(80,160,191,1) 0%, rgba(2,83,115,1) 100%);
}

.loginTitleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #023859;

}

#button{
    width: 100%;
    margin: 0;
    max-width: none ;
}


.loginTitleContainer h1{
    font-weight: bolder;
}

.loginTitleContainer p{
    font-weight: lighter;
}

.inputLoginContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 8vh;
}

.signupClickText{
    margin-top: 1rem;
    font-weight: lighter;
    font-size: smaller;
    color: var(--cor-azul-escuro);
    width: 75%;
    text-align: center;
    align-self: center;
}

.signupLink{
    color: var(--cor-azul-escuro);
    font-weight: lighter;
}


.formLogin{
    background-color: white;
    padding: 2rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}