.headerContainer {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: 200px;
}

.header {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.link:hover {
    color: rgb(20, 19, 19);
    transition: all 0.1s ease-in;
}


.linkList {
    display: flex;
    margin-right: 2rem;
    width: 60vw;
    justify-content: space-between;
    list-style: none;
}