.logo{
    margin: 8px 8px 8px 25px;
}

.headerContainer {
    width: 100%;
    background-color:var(--cor-azul-escuro);
    height: 10vh;
    z-index: 1;
}


.header {
    background-color: var(--cor-azul-escuro);
    height: 10vh;
    display: flex;
    position: fixed;
    width:100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.lateralListContainer{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--cor-azul-escuro);
    width: fit-content;
    padding: 20px;
    border: 1px solid rgba(186, 185, 185, 0.658);
    height: 20vh;
    transition: transform 0.3s ease-in-out;
}

.laterallinkList{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.laterallink{
    color: white;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.listContainer{
    display: none;
}

.menuLine{
    background-color: #ffffff;
    width: 40px;
    height: 5px;
    margin: 8px 25px 8px 8px;
}


@media(min-width: 768px) {
    .headerContainer {
        width: 100%;
        background-color: var(--cor-azul-escuro);
        z-index: 1;
        position: relative;
        transition: .3s;
        height: 13vh;
    }
    
    .headerContainer.scrolled{
        background-color: var(--cor-azul-escuro);
        height: 13vh;
        z-index: 1000;
    }

    .header {
        height: 10vh;
        background-color: var(--cor-azul-escuro);
        display: flex;
        width: 100%;
        position: relative;
        justify-content: space-around;
        padding: 0.5rem;
        align-items: center;
        z-index: 2;
        transition: 0.3s;
    }

    .header.scrolled{
        padding: 0.5rem;
    }

    .homeHeader{
        background-color: transparent;
        position: fixed;
        height: 13vh;
        padding: 1rem;
    }

    .homeHeaderContainer{
        position: fixed;
        background-color: transparent;
    }

    .listContainer{
        display: block;
    }
    .lateralListContainer{
        display: none;
    }
    .logo {
        display: block;
        width: 6rem;
        height: 100px;
    }
    .link {
        color: white;
        text-decoration: none;
        font-size: larger;
        display: inline-block;
        transition: all 0.2s ease-in;
    }
    .mobileMenu{
        display: none;
    }
    
    .link:hover {
        list-style: square;
        transform: scale(1.2);
    }
    
    
    .linkList {
        display: flex;
        margin-right: 2rem;
        width: 60vw;
        justify-content: space-between;
        list-style: none;
    }

    
    
}