.headerContainer {
    width: 100%;
    position: fixed;
    z-index: 1000;
}


.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.listContainer{
    display: none;
}

.menuLine{
    background-color: #ffffff;
    width: 40px;
    height: 5px;
    margin: 8px;
}

@media(min-width: 768px) {
    .listContainer{
        display: block;
    }
    .logo {
        display: block;
        width: 6rem;
        height: 100px;
    }
    .link {
        color: white;
        text-decoration: none;
        font-size: larger;
    }
    
    .link:hover {
        color: rgb(20, 19, 19);
        transition: all 0.1s ease-in;
    }
    
    
    .linkList {
        display: flex;
        margin-right: 2rem;
        width: 60vw;
        justify-content: space-between;
        list-style: none;
    }
}