.inputContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.labelStyle{
    margin-left: 0.5rem;
    color: #023859;
    font-weight: 550;
    font-size: 1rem;
}

.inputStyle{
    width: 50vw;
    min-width: 200px;
    max-width: 300px;
    min-height: 30px;
    margin-top: 0.5rem;
    border: solid #023859 1px;
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    height: 3.7vh;
    padding-left: 1vw;
}