.inputContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.labelStyle{
    margin-top: 1rem;
    margin-left: 0.1rem;
    color: #023859;
    font-weight: 300;
    font-size: 1rem;
}

.inputStyle{
    width: 50vw;
    min-width: 200px;
    max-width: 300px;
    min-height: 30px;
    margin-top: 0.5rem;
    outline: 0;
    border: none;
    border-bottom: 2px solid var(--cor-azul-escuro);
    height: 3.7vh;
    padding-left: 1vw;
    color: var(--cor-azul-escuro);
}

.inputStyle::placeholder{
    color: var(--cor-azul-escuro);
}