.inputContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.labelStyle{
    margin-top: 1rem;
    margin-left: 0.1rem;
    color: var(----cor-azul-médio);
    font-weight: 300;
    font-size: 1rem;
}

.inputStyle{
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    min-height: 30px;
    margin-top: 0.5rem;
    outline: 0;
    border: none;
    border-bottom: 2px solid var(--cor-azul-escuro);
    height: 3.7vh;
}

.inputStyle::placeholder{
    padding-left: .5vw;
    color: var(--cor-azul-escuro);
}