.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 740px;
}

.TextImageButton {
    display: flex;
    width: 40vw;
    flex-direction: column;
    color: #032D60;
    gap: 20px;
}

.TextImageButton h2 {
    font-weight: 800;
}

.TextButton {
    max-width: 354px;
}

.TextButton #button-below-text {
    display: none;
}

.TextImageButton img {
    width: 300px;
}

.TextImageButton Button {
    width: 20rem;
}

.image-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.image-button img {
    width: 100%;
    height: 100%;
}

.image-button Button {
    font-size: medium;
}

#link {
    text-decoration: none;
}

@media(min-width: 992px) {

    .section {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 640px;
    }

    .TextImageButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 78vw;
    }

    .TextImageButton h2 {
        font-size: 30px;
        font-weight: 800;
        height: fit-content;
        padding-top: 43px;
    }

    .TextButton {
        display: flex;
        flex-direction: column;
        row-gap: 52px;
    }

    .TextButton #button-below-text {
        display: block;
        font-size: 24px;
        width: 100%;
        height: 64px;
    }

    .image-button #button-below-image {
        display: none;
    }

    .TextImageButton img {
        width: 400px;
    }

}

@media(min-width: 1400px) {
    .section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 740px;
    }

    .TextImageButton {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 78vw;
        max-width: 1200px;
    }

    .TextImageButton h2 {
        font-size: 42px;
        font-weight: 800;
        height: fit-content;
        padding-top: 43px;
        width: 520px;
    }

    .text-button {
        display: flex;
        flex-direction: column;
        row-gap: 52px;
    }

    .text-button #button-below-text {
        display: block;
        font-size: 24px;
        width: 100%;
        height: 64px;
    }

    .image-button #button-below-image {
        display: none;

    }

    .TextImageButton img {
        width: 560px;
    }

}