.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.TextImageButton {
    display: flex;
    width: 60vw;
    flex-direction: column;
    color: #032D60;
}

.TextImageButton h2 {
    font-weight: 800;
    font-size: larger;
    text-align: center;
}

.TextButton {
    max-width: 354px;
}

.TextButton #ButtonBelowText {
    display: none;
}

.TextImageButton img {
    width: 300px;
}

.TextImageButton Button {
    width: 20rem;
}

.ImageButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.ImageButton img {
    width: 100%;
    height: 100%;
}

.ImageButton Button {
    font-size: medium;
}

#Link {
    text-decoration: none;
}

@media (min-width: 600px) {
    
    .TextImageButton{
        width: 40vw;
    }

}

@media(min-width: 992px) {

    .section {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 640px;
    }

    .TextImageButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 78vw;
    }

    .TextImageButton h2 {
        font-size: 30px;
        font-weight: 800;
        height: fit-content;
        padding-top: 43px;
        text-align: left;
    }

    .TextButton {
        display: flex;
        flex-direction: column;
        row-gap: 52px;
    }

    .TextButton #ButtonBelowText {
        display: block;
        font-size: 24px;
        width: 100%;
        height: 64px;
    }

    .ImageButton #ButtonBelowImage {
        display: none;
    }

    .TextImageButton img {
        width: 300px;
    }

}

@media(min-width: 1400px) {
    .section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 740px;
    }

    .TextImageButton {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 78vw;
        max-width: 1200px;
    }

    .TextImageButton h2 {
        font-size: 42px;
        font-weight: 800;
        height: fit-content;
        padding-top: 43px;
        width: 520px;
    }

    .text-button {
        display: flex;
        flex-direction: column;
        row-gap: 52px;
    }

    .text-button #ButtonBelowText {
        display: block;
        font-size: 24px;
        width: 100%;
        height: 64px;
    }

    .ImageButton #ButtonBelowImage {
        display: none;

    }

    .TextImageButton img {
        width: 560px;
    }

}